# ------------------------------------
# Output
# ------------------------------------

output/
logs/

# ------------------------------------
# Temporary Files
# ------------------------------------

*.tmp
*.temp
*.bak
*.swp
*.swo
*.orig

# ------------------------------------
# macOS
# ------------------------------------

.DS_Store

# ------------------------------------
# Windows
# ------------------------------------

Thumbs.db
Desktop.ini

# ------------------------------------
# IDE
# ------------------------------------

.vscode/
.idea/

# ------------------------------------
# Shell History
# ------------------------------------

.history

# ------------------------------------
# Environment Variables
# ------------------------------------

.env
.env.*

# ------------------------------------
# Cache
# ------------------------------------

.cache/

# ------------------------------------
# Go (optional)
# ------------------------------------

bin/

# ------------------------------------
# Logs
# ------------------------------------

*.log
